.contato__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 4rem 4rem 2rem 4rem;
    border-bottom: 1px solid var(--grey);
    background-color: var(--bg-title);
    overflow: hidden;
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contato__titulo {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 2rem;
}

.contato__texto {
    font-family: var(--secundary-font);
    font-weight: 300;
    color: var(--primary-color);
    font-size: 1.25rem;
}

.contato__conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.contato__nome {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 24px;
    padding: 1rem;
    align-self: start;
    width: 100%;
}

.contato__nome::placeholder {
    font-family: var(--primary-font);
    font-size: 1rem;
    text-align: center;
    color: var(--primary-color);
    background: url(../img/User.png) no-repeat;
    background-size: 1rem 1rem;
    background-position: 1rem;
}

.contato__telefone {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 24px;
    padding: 1rem;
    align-self: start;
    width: 100%;
}

.contato__telefone::placeholder {
    font-family: var(--primary-font);
    font-size: 1rem;
    text-align: center;
    color: var(--primary-color);
    background: url(../img/Telefone.png) no-repeat;
    background-size: 1rem 1rem;
    background-position: 1rem;
}

.contato__email {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 24px;
    padding: 1rem;
    align-self: start;
    width: 100%;
}

.contato__email::placeholder {
    font-family: var(--primary-font);
    font-size: 1rem;
    text-align: center;
    color: var(--primary-color);
    background: url(../img/Contato.png) no-repeat;
    background-size: 1rem 1rem;
    background-position: 1rem;
}

.redes__texto {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin: 1rem 0;
}

.redes__sociais {
    display: flex;
    gap: 1.5rem;
}

.redes__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 24px;
}

.redes__btn-img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.redes__btn:hover .redes__texto-btn{
    transition: 0.6s;
    color: var(--effect-color);
}

.redes__btn:hover .redes__btn-img  {
    transition: 0.6s;
    background-color: #1c82ff;
}

.contato__img {
    border-radius: 24px;
    width: 39rem;
    height: 28rem;
    opacity: 0.7;
}

.email__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.email__btn {
    background-color: #1c82ff;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 700;
    border-radius: 24px;
    align-self: start;
    padding: 0.844rem 2rem;
}

.email__btn:hover {
    background-color: #1057B0;
    color: var(--grey);
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .contato__titulo {
        font-size: 1.5rem;
    }

    .redes__texto {
        font-size: 1.5rem;
    }

    .contato__img{
        width: 40%;
        height: 40%;
        align-self: first baseline;
        padding-top: 2rem;
    }

    .contato {
        width: 50%;
    }

    .redes__btn-img {
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .contato__img {
        display: none;
    }

    .redes__texto-btn {
        display: none;
    }

    .contato__container {
        padding: 1rem;
        justify-content: start;
    }

    .contato {
        width: 100%;
        gap: 1rem;
    }

    .redes__sociais {
        justify-content: space-between;
    }
}