.info__container {
    width: 100%;
    background-image: url(../img/Armazenamento.jpeg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info__titulo {
    font-size: 2rem;
    color: var(--primary-color);
    padding: 2rem;
    margin-bottom: 3rem;
    border-bottom: 4px solid var(--effect-color);
}

.lista__container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 5vw;
}

.lista__lista {
    color: var(--primary-color);
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    font-family: var(--secundary-font);
}

.teste {
    height: 100vh;
}